html{
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: "Hind Madurai", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #E9F5DF;
}
h1 {
    font-size: 60px;
    text-align: center;
    color: #503F34;
    outline: #000000;
    font-style: bold;
    text-shadow: 2px 2px 2px #7533C1;
    margin: 0;
    padding: 20px 0;
}
h2 {
   font-size: 50px;
   text-align: center;
   font-family: "Tangerine", cursive;
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 3px solid #503F34;
}
img {
    display: block;
    margin: 0;
    width: 35%;
    height: 35%;
    align-items:center;
}
